## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import G_key

# Configure gmaps API key
gmaps.configure(api_key=G_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Current Description,Cloudiness,Wind Speed,Country,Date
0,0,Antalaha,-14.9003,50.2788,75.54,92,light rain,80,2.86,MG,2021-03-30 00:20:49
1,1,Ushuaia,-54.8000,-68.3000,50.00,76,few clouds,20,5.75,AR,2021-03-30 00:11:30
2,2,Norfolk,42.1668,-71.2495,46.40,34,clear sky,1,6.91,US,2021-03-30 00:19:12
3,3,Nhulunbuy,-12.2333,136.7667,84.20,74,broken clouds,75,13.80,AU,2021-03-30 00:20:49
4,4,La Rioja,42.2500,-2.5000,57.20,44,clear sky,0,12.66,ES,2021-03-30 00:20:50

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Current Description,Cloudiness,Wind Speed,Country,Date
0,0,Antalaha,-14.9003,50.2788,75.54,92,light rain,80,2.86,MG,2021-03-30 00:20:49
8,8,Lingao,19.9103,109.6859,76.96,73,clear sky,5,3.85,CN,2021-03-30 00:20:51
10,10,Puerto Ayora,-0.7393,-90.3518,79.00,92,scattered clouds,45,4.00,EC,2021-03-30 00:14:47
13,13,Talara,-4.5772,-81.2719,77.00,61,broken clouds,75,11.50,PE,2021-03-30 00:19:50
14,14,Caravelas,-17.7125,-39.2481,78.21,73,clear sky,0,7.94,BR,2021-03-30 00:17:53
...,...,...,...,...,...,...,...,...,...,...,...
684,684,Durango,24.8333,-104.8333,78.49,9,overcast clouds,99,14.32,MX,2021-03-30 00:25:52
690,690,Ahmadpur,18.7000,76.9333,79.03,20,few clouds,20,7.96,IN,2021-03-30 00:26:17
693,693,Soubre,5.7856,-6.6083,73.67,96,clear sky,8,2.37,CI,2021-03-30 00:26:18
697,697,Galt,38.2546,-121.3000,73.99,30,clear sky,0,5.99,US,2021-03-30 00:26:20
702,702,Hobyo,5.3505,48.5268,79.48,74,broken clouds,53,8.48,SO,2021-03-30 00:26:22

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Current Description    0
Cloudiness             0
Wind Speed             0
Country                0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Current Description,Cloudiness,Wind Speed,Country,Date
0,0,Antalaha,-14.9003,50.2788,75.54,92,light rain,80,2.86,MG,2021-03-30 00:20:49
8,8,Lingao,19.9103,109.6859,76.96,73,clear sky,5,3.85,CN,2021-03-30 00:20:51
10,10,Puerto Ayora,-0.7393,-90.3518,79.00,92,scattered clouds,45,4.00,EC,2021-03-30 00:14:47
13,13,Talara,-4.5772,-81.2719,77.00,61,broken clouds,75,11.50,PE,2021-03-30 00:19:50
14,14,Caravelas,-17.7125,-39.2481,78.21,73,clear sky,0,7.94,BR,2021-03-30 00:17:53
...,...,...,...,...,...,...,...,...,...,...,...
684,684,Durango,24.8333,-104.8333,78.49,9,overcast clouds,99,14.32,MX,2021-03-30 00:25:52
690,690,Ahmadpur,18.7000,76.9333,79.03,20,few clouds,20,7.96,IN,2021-03-30 00:26:17
693,693,Soubre,5.7856,-6.6083,73.67,96,clear sky,8,2.37,CI,2021-03-30 00:26:18
697,697,Galt,38.2546,-121.3000,73.99,30,clear sky,0,5.99,US,2021-03-30 00:26:20
702,702,Hobyo,5.3505,48.5268,79.48,74,broken clouds,53,8.48,SO,2021-03-30 00:26:22

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Antalaha,MG,75.54,light rain,-14.9003,50.2788,
8,Lingao,CN,76.96,clear sky,19.9103,109.6859,
10,Puerto Ayora,EC,79.00,scattered clouds,-0.7393,-90.3518,
13,Talara,PE,77.00,broken clouds,-4.5772,-81.2719,
14,Caravelas,BR,78.21,clear sky,-17.7125,-39.2481,
17,Tessalit,ML,72.93,scattered clouds,20.1986,1.0114,
28,Araouane,ML,76.30,clear sky,18.9048,-3.5265,
39,Loa Janan,ID,76.19,moderate rain,-0.5830,117.0950,
41,Puerto Quijarro,BO,79.38,scattered clouds,-17.7833,-57.7667,
43,Souillac,MU,73.40,few clouds,-20.5167,57.5167,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": G_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   
    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found.....Skipping")

Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping

In [9]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Antalaha,MG,75.54,light rain,-14.9003,50.2788,Hotel Vitasoa
8,Lingao,CN,76.96,clear sky,19.9103,109.6859,Lingao Ditai Inn
10,Puerto Ayora,EC,79.00,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Talara,PE,77.00,broken clouds,-4.5772,-81.2719,Hostal Oro Negro
14,Caravelas,BR,78.21,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
...,...,...,...,...,...,...,...
684,Durango,MX,78.49,overcast clouds,24.8333,-104.8333,
690,Ahmadpur,IN,79.03,few clouds,18.7000,76.9333,Hengane (Pitashri Niwas)
693,Soubre,CI,73.67,clear sky,5.7856,-6.6083,Lynd Hotels Soubre
697,Galt,US,73.99,clear sky,38.2546,-121.3000,Best Western Galt Inn
702,Hobyo,SO,79.48,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Antalaha,MG,75.54,light rain,-14.9003,50.2788,Hotel Vitasoa
8,Lingao,CN,76.96,clear sky,19.9103,109.6859,Lingao Ditai Inn
10,Puerto Ayora,EC,79.00,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Talara,PE,77.00,broken clouds,-4.5772,-81.2719,Hostal Oro Negro
14,Caravelas,BR,78.21,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
...,...,...,...,...,...,...,...
684,Durango,MX,78.49,overcast clouds,24.8333,-104.8333,
690,Ahmadpur,IN,79.03,few clouds,18.7000,76.9333,Hengane (Pitashri Niwas)
693,Soubre,CI,73.67,clear sky,5.7856,-6.6083,Lynd Hotels Soubre
697,Galt,US,73.99,clear sky,38.2546,-121.3000,Best Western Galt Inn
702,Hobyo,SO,79.48,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent

In [11]:
# 8a. Create the output File (CSV)
clean_hotel_df = hotel_df.dropna()
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))